<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Chart.js Example{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="{% url 'landing' %}" class="button is-info">
              <strong>Bar Chart</strong>
            </a>
            <a href="{% url 'pie-chart' %}" class="button is-info">
              <strong>Pie Chart</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
